{% extends 'MoFlashCardsBundle::layout.html.twig' %}

{% block title %}{{ 'learnCards.meta.title'|trans({'%deck%': deck.name}) }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="card-player-question">{{ 'learnCards.message.loading'|trans }}</div>
            <input id="card-player-answer" type="text" class="form-control" placeholder="{{ 'learnCards.form.placeholder.answer'|trans }}">
            <button id="card-player-show-hint" class="btn btn-default btn-primary">{{ 'learnCards.action.hint'|trans }}</button>
            <div id="card-player-hint"></div>
            <a href="{{ path('mofc_learn_decks') }}" class="btn btn-default">{{ 'learnCards.action.back'|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts 
        '@jquery_js'
        '@MoFlashCardsBundle/Resources/public/js/CardPlayer.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        
    <script>
        $(document).ready(function() {
            var player = new CardPlayer({
                finishMessage: '{{ 'learnCards.message.finish'|trans }}'
            }, jQuery);
            
            // add cards
            {% for card in deck.getCards %}
                {% if forward %}
                    player.addCard('{{ card.front }}', '{{ card.back }}');
                {% else %}
                    player.addCard('{{ card.back }}', '{{ card.front }}');
                {% endif %}
            {% endfor %}

            // start the player
            player.start();
        });
    </script>
{% endblock %}
