{% extends 'MoFlashCardsBundle::layout.html.twig' %}

{% block title %}{{ 'learnCards.meta.title'|trans({'%deck%': deck.name}) }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="card-player-question" style="float: left;">{{ 'learnCards.message.loading'|trans }}</div>
            <input id="card-player-answer" type="text" class="form-control" placeholder="{{ 'learnCards.form.placeholder.answer'|trans }}">
            <button id="card-player-show-hint" class="btn btn-default btn-primary">{{ 'learnCards.action.hint'|trans }}</button>
            <div id="card-player-hint"></div>
            <a href="{{ path('mofc_learn_decks') }}" class="btn btn-default">{{ 'learnCards.action.back'|trans }}</a><br>
            <dl id="card-player-history" class="dl-horizontal"></dl>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts 
        '@jquery_js'
        '@MoFlashCardsBundle/Resources/public/js/CardSide.js'
        '@MoFlashCardsBundle/Resources/public/js/Card.js'
        '@MoFlashCardsBundle/Resources/public/js/CardPlayer.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        
    <script>
        $(document).ready(function() {
            var player, front, back, sideOptions;
            player = new CardPlayer(jQuery, {
                finishMessage: '{{ 'learnCards.message.finish'|trans }}',
                historyTemplate: '<dt style="width: 300px;">[[question]]</dt><dd style="margin-left: 310px;">[[answer]]</dd>'
            });
            sideOptions = {
                outputTemplate: '[[text]]<button audio-url="[[audio]]" style="margin-left: 5px;" class="card-player-audio btn btn-default btn-xs">' +
                '<span class="glyphicon glyphicon glyphicon-volume-up" aria-hidden="true"></span>' +
                '</button>'
            };
            
            // add cards
            {% for card in deck.getCards %}
                front = new CardSide('{{ card.front|escape('js') }}', '{{ path('mofc_api_get_tts_resource', {'text': card.front}) }}', sideOptions);
                back = new CardSide('{{ card.back|escape('js') }}', '{{ path('mofc_api_get_tts_resource', {'text': card.back}) }}', sideOptions);
                
                {% if forward %}
                    player.addCard(new Card(front, back));
                {% else %}
                    player.addCard(new Card(back, front));
                {% endif %}
            {% endfor %}

            // start the player
            player.start();
        });
    </script>
{% endblock %}
