{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@bootstrap_css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var Messages = {
            deckListMetaTitle: "{{ 'deck-list.meta.title'|trans }}",
            deckLearnMetaTitle: "{{ 'deck-learn.meta.title'|trans }}",
            deckLearnFinish: "{{ 'deck-learn.message.finish'|trans }}"
        };
    </script>

    {% javascripts
        '@jquery_js'
        '@underscore_js'
        '@backbone_js'
        'bundles/fosjsrouting/js/router.js'
        'js/fos_js_routes.js'
        '@MoFlashCardsBundle/Resources/public/js/models/deck.js'
        '@MoFlashCardsBundle/Resources/public/js/collections/deck.js'
        '@MoFlashCardsBundle/Resources/public/js/views/deck-list.js'
        '@MoFlashCardsBundle/Resources/public/js/views/deck-learn.js'
        '@MoFlashCardsBundle/Resources/public/js/views/locale-switch.js'
        '@MoFlashCardsBundle/Resources/public/js/router.js'
        '@MoFlashCardsBundle/Resources/public/js/app.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Flash Cards</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul id="locale-switch" class="nav navbar-nav navbar-right">
                    {% for locale in locales %}
                        <li><a class="locale" href="{{ path('mofc_app', {'_locale': locale}) }}">{{ locale|upper }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <div id="content" class="container" style="padding-top: 70px;">
    </div>

    {% include 'MoFlashCardsBundle:Templates:deckList.html.twig' %}
    {% include 'MoFlashCardsBundle:Templates:deckLearn.html.twig' %}
    {% include 'MoFlashCardsBundle:Templates:cardSide.html.twig' %}
    {% include 'MoFlashCardsBundle:Templates:historyRow.html.twig' %}
{% endblock %}
