{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@bootstrap_css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var Messages = {
            deckListMetaTitle: "{{ 'deck-list.meta.title'|trans }}",
            deckLearnMetaTitle: "{{ 'deck-learn.meta.title'|trans }}",
            deckLearnFinish: "{{ 'deck-learn.message.finish'|trans }}"
        };
    </script>

    {% javascripts
        '@jquery_js'
        '@underscore_js'
        '@backbone_js'
        'bundles/fosjsrouting/js/router.js'
        'js/fos_js_routes.js'
        '@MoFlashCardsBundle/Resources/public/js/models/deck.js'
        '@MoFlashCardsBundle/Resources/public/js/collections/deck.js'
        '@MoFlashCardsBundle/Resources/public/js/views/deck-list.js'
        '@MoFlashCardsBundle/Resources/public/js/views/deck-learn.js'
        '@MoFlashCardsBundle/Resources/public/js/router.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="content" class="container">
    </div>

    {% include 'MoFlashCardsBundle:Templates:deckList.html.twig' %}
    {% include 'MoFlashCardsBundle:Templates:deckLearn.html.twig' %}
    {% include 'MoFlashCardsBundle:Templates:cardSide.html.twig' %}
    {% include 'MoFlashCardsBundle:Templates:historyRow.html.twig' %}
{% endblock %}
